@model DevExpress.XtraReports.UI.XtraReport

@{
    Layout = "~/Views/Shared/_DevExtremeLayout.cshtml";
}

<div id="docContainer">
    @(Html.DevExpress()
        .WebDocumentViewer("WebDocumentViewer")
        .Height("100%")
        .Bind(Model)
    )
</div>

@section Scripts {
    <script>
        //document.title = "Test";
        function setHeight() {
            $("#docContainer").css("height", `${window.innerHeight}px`);
        }
        $(document).ready(_ => {
            setHeight();
            $(window).resize(_ => setHeight());
        });

        
    </script>
}
